/*========================================================
======================账户管理框架=======================
========================================================*/

/*安全中心*/
.userBox{width:100%; overflow:hidden; margin:15px auto;}
.userBox .user_menu{width:150px;  border:1px solid #ddd; background:#fafafa; float:left;}
.userBox .user_menu dl{padding-bottom:5px;}
.userBox .user_menu dl dt{font-size:16px; color:#00a47f;  background:#eee; padding:5px 8px; margin-bottom:8px;}
.userBox .user_menu dl dt .iconfont{ font-size:20px;}
.userBox .user_menu dl dd{height:28px; line-height:28px;}
.userBox .user_menu dl dd a{ padding-left:25px; color:#666; display:block; height:24px;}
.userBox .user_menu dl dd a:hover,.userBox .user_menu dl dd a.curr{text-decoration:underline; color:#ff9600;}
.userBox .user_cont{width:838px; float:right; background:#fff;}
.userBox .user_cont .uc_tit{background:#fafafa; padding:6px 10px; border:1px solid #ddd;  overflow:hidden;}
.userBox .user_cont .uc_tit h3{color:#333; font-weight:normal; float:left; font-weight: bold;}
.userBox .user_cont .uc_tit a{color:#333; font-weight:normal; float:right;color:#00a47f !important;}
.userBox .user_cont .uc_cont{border:1px solid #ddd; margin-top:10px; *margin-top:5px; min-height:660px;}

.u_safe .safe_top{width:1050px; overflow:hidden; padding-bottom:10px; background:#f2f2f2; padding:20px 30px;}
.u_safe .safe_top .star .fa{color:#d5d5d5; font-size:30px;}
.u_safe .safe_top .star .fa.curr{color:#ffb200;}
.u_safe .safe_top .text{ padding-top:10px;}
.u_safe .safe_top .text strong{font-weight:normal; font-size:16px; color:#f06701;}
.u_safe .safe_top .text p{color:#666; font-size:12px; padding-top:10px;}
.u_safe .safe_list{padding-top:10px;}
.u_safe .safe_list ul li{padding:15px; border:1px solid #ddd; overflow:hidden; width:1080px; margin-bottom:10px;    border-radius: 5px;}
.u_safe .safe_list ul li:hover{border-color:#06bdb2;}
.u_safe .safe_list ul li.curr:hover{border-color:#f06701;}
.u_safe .safe_list ul li .l_icon{width:40px; height:40px; padding:5px; background:#00a47f; float:left; text-align:center; border-radius:5px;}
.u_safe .safe_list ul li .l_icon .fa{color:#fff; font-size:30px;  display:block; padding-top:5px;}
.u_safe .safe_list ul li.curr .l_icon {background:#f06701;}
.u_safe .safe_list ul li .l_text{width:480px; float:left; padding-left:20px;}
.u_safe .safe_list ul li .l_text strong{color:#00a47f; font-size:14px; display:block; padding-top:5px;}
.u_safe .safe_list ul li.curr .l_text strong{color:#f06701;}
.u_safe .safe_list ul li .l_text p{color:#666; padding-top:5px;}
.u_safe .safe_list ul li .l_btn{float:right;width:170px;}
.u_safe .safe_list ul li .l_btn a{background:#eee; border:1px solid #ccc; display:block; width:150px; height:30px; line-height:30px; border-radius:4px; box-shadow:2px 2px 2px #ccc; text-align:center; font-size:16px; color:#666; margin-top:5px;} 
.u_safe .safe_list ul li .l_btn a:hover{background:#00a47f; color:#fff;}

/*会员中心—安全中心-个人资料*/
.usercenter { overflow:hidden;}

.usercenter .balance { margin:56px 50px; line-height:1.2em; text-align:center; color:#394050;}
.usercenter .balance .sum { height:104px; overflow:hidden; font-weight:bold; background:#fff; border-bottom:#f0f0f0 solid 1px; border-left:#f7f7f7 solid 1px; border-right:#f7f7f7 solid 1px;}
.usercenter .balance .sum p { margin:22px 0 0;}
.usercenter .balance .detail { overflow:hidden; background:#fff; border-bottom:#f0f0f0 solid 1px; border-top:#f7f7f7 solid 1px;}
.usercenter .balance .detail li { float:left; width:14%; height:80px; position:relative;}
.usercenter .balance .detail li.last { width:16%;}
.usercenter .balance .detail li:before,
.usercenter .balance .detail li:after { content:''; position:absolute; right:0; top:0; height:100%; width:1px; background:#f0f0f0;}
.usercenter .balance .detail li:after { left:1px; right:auto;}
.usercenter .balance .detail p { margin:20px 0 0;}
.usercenter .balance .money { font-weight:bold; font-family:arial;}
.usercenter .balance .detail .money { margin:8px 0 0; font-size:20px;}
.usercenter .balance .sum .money { margin:12px 0 0; font-size:30px;}
.usercenter .balance .btns { margin:30px 0 0;}
.usercenter .balance .btns a { width:80px; height:30px; line-height:30px; margin-right:20px;}

.team .balance { margin-top:25px; margin-bottom:0;}
.team .balance .detail li:before { right:0;}
.team .balance .detail li:after { left:0; background:#fff;}
.team .balance .detail li.last:before { background:#fff;}
.team .balance .detail { border-top:none;}
.team .balance .money { color:#f72828;}
.team .balance .sum { height:75px;}

.team .chart { padding:26px 30px; margin:0 50px; background:#fff; border-bottom: #f0f0f0 solid 1px;}
.team .filter_pj {}
.team .filter_pj dt { float:left; width:84px;}
.team .filter_pj dd { float:left; margin:0 20px 0 10px;}
.team .filter_pj input { vertical-align:middle; position:relative; top:-1px; margin-right:3px;}
.team .chart_box { padding:30px 0;}

.team .filter_box { margin:20px 0 0 30px;}
	.select_box { height:35px; float:left; margin-right:10px; padding:0 5px; color:#fff; background:#4f63c3; border-radius:3px;}
	.select_box select { padding:7px 2px; padding-right:23px; color:#fff; background:url(../images/arrow3.png) no-repeat right center; border:none;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;
	}
	.select_box select::-ms-expand { display: none; }
	.select_box input { line-height:19px; height:19px; padding:8px 5px; color:#fff; border:none; background:none;}
	.select_box input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #aab1de;}
	.select_box input:-moz-placeholder, textarea:-moz-placeholder {color:#aab1de;}
	.select_box input::-moz-placeholder, textarea::-moz-placeholder {color:#aab1de;}
	.select_box input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#aab1de;}
	

.uc_state { margin:50px 50px 0; padding:10px 40px 20px; line-height:1.3em; font-size:12px; color:#394050; border:#d6d8da dashed 1px;}
.uc_state.ico { background:url(../images/uc_state.png) no-repeat right 40px;}
.uc_state .tit { font-weight:bold;}
.uc_state p { margin-top:8px;}

.vip_des { margin:30px 0px;}
.vip_des li { height:30px; line-height:30px;width:886px; margin-bottom:6px; padding:0 8px 0 28px; color:#555; border:1px dashed #e5e5e5; border-radius:3px;cursor: pointer;}
.vip_des .con { margin-left:65px; float:left;}
.vip_des .name { float:left; width:66px; font-weight:bold; font-size:16px;}
.vip_des .name i { font-size:26px; font-style:oblique; vertical-align:middle; position:relative; top:-4px;}
.vip_des .btn { float:right; display:block; width:95px; height:30px; line-height:30px; margin-top:5px; text-align:center; color:#333; background:#fff; border-radius:3px;}
.vip_des li:hover { background:#ffcd57;color:#fff;}
.vip_des li:hover .btn { color:#df5151;}

.open_account { margin:45px 50px; margin-right:0; color:#2d323f;}
.open_account .left,
.open_account .right { width:40%; float:left;}
.open_account .left .inner,
.open_account .right .inner { min-height:522px; margin-right:36px; padding:0 0px 20px 0; border:#dbdbe5 solid 1px; background:#fff;}
.open_account label { display:inline-block; width:82px; padding-right:10px; text-align:right; line-height:26px;}
.open_account ul { padding:20px 0 0;}
.open_account li { padding-left:76px; margin-bottom:16px;}
.open_account .text {width:138px; padding:4px 5px; border:#dfdfdf solid 1px; border-radius:3px; background:#f8f6f4;}
.open_account .text2 { background:#fff;}
.open_account select { width:150px; padding:4px 2px;}
.open_account .tip { margin-left:15px;}

.open_account .custom-add { width:150px; background:#fff;}
.open_account .custom-add .gtext { width:96px; top:1px; height:20px; color:#333; background:#fff;}
/* .open_account .custom-add .add { background-image:url(../images/add2.png);} */
/* .open_account .custom-add .sub { background-image:url(../images/sub2.png);} */

.open_account .bot { margin:30px 36px 0 0; border:#dbdbe5 solid 1px; background:#fff;}
.open_account .bot .con { padding:20px 24px 40px;}
.open_account .bot .link { text-decoration:underline; color:#2d323f;}
.open_account .bot .btn { display:inline-block; text-align:center; width:100px; height:30px; line-height:30px; color:#fff; background:#4f63c3; border-radius:3px;border:none;}

.uc_table { margin:30px 30px;}
.uc_table .tools { height:auto; line-height:35px; overflow:hidden; padding:10px 0; color:#555; /*background:#f1f1f1;*/ border-top-left-radius:6px; border-top-right-radius:6px;}
.uc_table .tools .gray { color:#969fcf;}
.uc_table .tools select,
.uc_table .tools input { /*vertical-align:top;*/}
.uc_table .tools select { padding:4px 2px; margin-right:5px; border: 1px solid #4f63c3;color:#4f63c3; border-radius:3px;}
.uc_table .tools .text { width:100px; margin-right:5px; padding:4px 5px; border: 1px solid #4f63c3;color:#4f63c3!important; background:#fff; border-radius:3px;}
.uc_table .tools .btn { border-radius: 3px;width:84px;height:31px;border:none;cursor:pointer;font-size:15px;color: #fff;background: #ffcd57;}
.uc_table .tools a { color:#f1f1f1;}
.uc_table label{padding: 10px 0px;color: #fff;color: #4f63c3;}
.uc_table table { width:100%; border:#dbdbe5 solid 1px;font-size: 14px!important;}
.uc_table thead { height:48px; line-height:48px; /*background:#4f63c3;color:#fff;*/ /*url(../images/th_bg.png) repeat-x;*/}
.uc_table th {  text-align:center; font-weight:bold; border:#dbdbe5 solid 1px;color:#333;font-weight:bold; height: 32px;line-height: 32px;}
.uc_table td { line-height:32px; text-align:center; border:#dbdbe5 solid 1px;color:#4f63c3;}
.uc_table .sum td { background:#f8f9fa;}
.uc_table table thead a { color:#fff;}	
.uc_table table tbody a { color:#f1f1f1;text-decoration: underline;}
.uc_table table tbody a:hover { color:#000;}
.uc_table .big_num { font-size:24px; font-weight:bold; font-family:arial;}
.uc_table .th-ico { display:inline-block; padding:0 10px; cursor:pointer;}
.uc_table .th-ico i { display:inline-block; vertical-align:middle; margin-left:5px; line-height:0; background:url(../images/icon.png) no-repeat;}
.uc_table .th-show i { width:15px; height:8px; background-position:-340px -98px;}
.uc_table .th-sort.desc i { width:7px; height:4px; background-position:-366px -98px;}
.uc_table .th-sort.asc i { width:7px; height:4px; background-position:-384px -98px;}
.uc_table .link { text-decoration:underline; color:#d64b4b;}
.uc_table .total th,
.uc_table .total td{line-height:23px; padding:10px 0;border:none; border-bottom:#dbdbe5 solid 1px;} 



.add_bank { padding-right:15px; height:27px; line-height:27px; font-size:16px;}
.add_bank span { display:inline-block; vertical-align:top; font-weight:bold; font-size:25px; padding:0 10px 0 5px;}

.uc_modify { margin:30px 30px;}
.uc_modify .item { overflow:hidden; height:75px; line-height:75px; padding:0 20px 0 24px; margin-bottom:10px; background:#fff; border-bottom:#e5e5e5 dashed 1px; box-shadow:0 1px 1px rgba(0,0,0,.02)}
.uc_modify .lable { width:80px; display:inline-block; vertical-align:top; text-align:right; font-weight:bold;}
.uc_modify .con { font-size:14px; font-weight:bold;}
.uc_modify .fr a { height:30px; line-height:30px; padding:0 15px; margin-left:5px; border-radius:3px;margin-top:20px;}
.uc_modify .fr{float:left;margin-left: 100px;}
.uc_modify .fl{width:400px;} 
.yellow { color:#333;}
.red { color:#d64b4b;}

/*会员中心—安全中心-修改密码*/
.u_codeedit .code_tit{border-bottom:1px solid #ddd; width:100%;  height:36px; clear:both;}
.u_codeedit .code_tit a{display:block; float:left; background:#f6f6f6; border:1px solid #ddd; color:#666; padding:8px 15px; font-size:14px; margin-left:15px; border-bottom:0px;}
.u_codeedit .code_tit a.curr{border-bottom:0px; background:#fff; color:#fa8b0f; font-weight:bold; height:20px; position:relative}
.u_codeedit .code_cont{padding:20px; }
#charge_money .code_cont{display: none;}
#charge_money .code_cont.show{display: block; }

.table_code{width:100%;}
.table_code th{width:18%; font-size:12px; color:#666; font-weight:normal; text-align:right; padding-bottom:20px;}
.table_code td{width:80%; padding-left:2%; padding-bottom:20px;}

/*会员中心-账户管理-账户明细*/
.u_codeedit.zhmx .code_cont{padding:0px;}
.user_info{}
.user_info table td{text-align:center; height:30px; line-height:30px; padding:10px 5px; font-size:14px;}
.user_info table td .fa{font-size:20px; padding-right:10px; color:#666;}
.proxy_tit{padding:20px;}
.proxy_tit table tr td{height:30px; line-height:30px; font-size:14px;}
.proxy_tit table tr td .c_green{font-weight:bold ;}
.proxy_data{width:100%;}
.proxy_data ul{width:100%; overflow:hidden;}
.proxy_data ul li{float:left;width: 153px; height: 56px; padding-top: 4px;border-right: 1px solid #E3E3E3;text-align: center;font-size:14px;}
.proxy_data ul li span{ display:block; font-size:24px; color:#00a47f;}
.proxy_radio{padding:10px 0; width:100%;}
.proxy_radio label{ padding-right:15px; color:#666;}








