head-box-bg1/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=a7693d05137da393e579)
 * Config saved to config.json and https://gist.github.com/a7693d05137da393e579
 *//*! normalize.css v3.0.2 | MIT License | git.io/normalize */html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a {
	background-color: transparent
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: bold
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height:auto
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: bold
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333;
	background-color: #fff
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}
a {
	color: #337ab7;
	text-decoration: none
}
a:hover, a:focus {
	color: #23527c;
	text-decoration: underline
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
figure {
	margin: 0
}
img {
	vertical-align: middle
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}
.img-rounded {
	border-radius: 6px
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto
}
.img-circle {
	border-radius: 50%
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}
table {
	background-color: transparent
}
caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: left
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}
.clearfix:after {
	clear: both
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pull-right {
	float: right!important
}
.pull-left {
	float: left!important
}
.hide {
	display: none!important
}
.show {
	display: block!important
}
.invisible {
	visibility: hidden
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.hidden {
	display: none!important;
	visibility: hidden!important
}
.affix {
	position: fixed
}
.haed-box-wrapper {
	width: 1010px;
	margin: 0 auto
}
.head-box {
	height: 260px;
	background: url(/images/jinjue/bnbg.jpg) repeat
}
.head-box-bg1 {
	width: 200px;
	height: 200px;
	position: relative;
	top: -115px;
	left: 800px;
	background: url(/images/jinjue/head-box-bg1.png) no-repeat
}
.head-box-bg2 {
	width: 69px;
	height: 69px;
	position: relative;
	top: -155px;
	left: 750px;
	background: url(/images/jinjue/head-box-bg2.png) no-repeat
}
.head-box-bg3 {
	width: 70px;
	height: 90px;
	position: relative;
	top: -195px;
	left: 985px;
	background: url(/images/jinjue/head-box-bg3.png) no-repeat
}
#transform {
	-webkit-animation: transform 30s linear 0s none infinite
}
#transform {
	-moz-animation: transform 30s linear 0s none infinite
}
#transform {
	animation: transform 30s linear 0s none infinite
}
@-webkit-keyframes transform {
from {
-webkit-transform:rotate(0deg)
}
to {
-webkit-transform:rotate(360deg)
}
}
@-moz-keyframes transform {
from {
-moz-transform:rotate(0deg)
}
to {
-moz-transform:rotate(360deg)
}
}
@keyframes transform {
from {
transform:rotate(0deg)
}
to {
transform:rotate(360deg)
}
}
.page-wrapper {
	position: relative;
	top: -150px;
	margin-bottom: -140px;
	border: 0px solid #1f89e1;
	box-shadow:0px 3px 1px #dddddd;
	background: #f5f5f5;
	min-height: 500px;
	padding-bottom:15px;
}
.top_menu {
	padding-left: 10px;
	background: #1f89e1;
	line-height: 50px;
	position: relative;
	z-index: 40
}
.top_menu a {
	padding: 0 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
	margin-right: 15px;
	border-radius: 5px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
	position: relative
}
.top_menu a:hover {
	border-radius: 5px;
	color: #fff;
	background: #17526d
}
.top_menu a.act {
	border-radius: 5px;
	background: #17526d
}
.top_menu a.act:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 46%;
	top: 34px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;
	z-index: 52
}
.top_menu:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 500px;
	top: -15px;
	border-width: 0 15px 15px 15px;
	border-style: solid;
	border-color: #1f89e1 transparent;
	z-index: 52
}
#page-title {
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px 2px #4e2100;
	position: absolute;
	left: 420px;
	z-index: 20;
	opacity: 0;
	animation: page-title .5s ease-out .3s forwards;
	-moz-animation: page-title .5s ease-out .3s forwards;
	-webkit-animation: page-title .5s ease-out .3s forwards;
	-o-animation: page-title .5s ease-out .3s forwards
}
@keyframes page-title {
0% {
opacity:0;
top:1px
}
100% {
opacity:1;
top:-85px
}
}
@-moz-keyframes page-title {
0% {
opacity:0;
top:1px
}
100% {
opacity:1;
top:-85px
}
}
@-webkit-keyframes page-title {
0% {
opacity:0;
top:1px
}
100% {
opacity:1;
top:-85px
}
}
@-o-keyframes page-title {
0% {
opacity:0;
left:420px;
top:1px
}
100% {
opacity:1;
left:420px;
top:-85px
}
}
#page-title span {
	width: 58px;
	height: 58px;
	border-radius: 58px;
	line-height: 58px;
	text-align: center;
	display: inline-block;
	background: #fff;
	text-shadow: none;
	box-shadow: 1px 1px 2px #4e2100;
	color: #1f89e1;
	margin-right: 15px
}
.page-info {
	background: #F8F6F6;
}
.page-info .page-title {
	padding: 10px 30px;
	font-weight: bold;
	border-bottom: 1px dashed #dddddd;
}
.page-info table {
	width: 95%;
	margin: 0 auto;
}
.page-info table th {
	border: 1px solid #dddddd;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}
.page-info table td {
	border: 1px solid #dddddd;
	padding: 10px;
	vertical-align: middle;
	line-height: 25px;
}
.page_list .page_bar {
	border: 0;
	border-bottom: 1px dashed #dddddd;
	padding-left: 10px;
}
.page_list .listtr td {
	text-align: center;
}
.page_list .total td {
	text-align: center;
}
.page-info .tdtitle {
	font-weight: bold;
	text-align: right;
}
.page-info table {
	margin-bottom: 10px;
	margin-top: 10px;
}
.page-info .child_menu {
	line-height: 25px;
	margin: 5px 0 0 5px;
	float: right;
	border: 0;
}
.child_menu .content a {
	padding: 6px 15px;
	font-size: 17px;
	border-radius: 5px;
	margin-right: 7px;
	border: 1px #ea721a solid;
	color: #ea721a;
	display: inline-block;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
.child_menu .content a span {
	font: 12px 'Microsoft Yahei';
	margin-left: 5px;
	position: relative;
	top: -2px
}
.child_menu .content a:hover {
	color: #fff;
	background: #ea721a
}
.child_menu .tab-front .content a {
	color: #fff;
	background: #ea721a
}
.child_menu .content a:active {
	background: #d06517;
	color: #763a0d;
	text-shadow: 0 1px #f59854;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.20) inset
}
.page_bar span.tab-back {
	cursor: pointer;
	padding: 5px 8px;
	color: #ea721a;
	border: 1px #ea721a solid;
	border-radius: 5px;
	margin-right: 5px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
.page_bar span.tab-back:hover {
	background: #ea721a;
	color: #fff
}
.page_bar span.tab-front {
	cursor: pointer;
	padding: 5px 8px;
	background: #ea721a;
	border: 1px #ea721a solid;
	border-radius: 5px;
	margin-right: 5px;
	color: #fff;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
.page_bar span {
	padding: 25px 0 25px 35px;
	background: #fff;
	position: relative
}
.help {
	padding: 10px;
	background: #F8F6F6;
	width: 95%;
	margin: 5px auto 15px auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	line-height: 25px;
}
.help h4 {
	font-size: 15px;
	color: #ea721a;
	display: block;
	position: relative;
	vertical-align: middle;
}
.help h4 span {
	font: 18px 'Microsoft Yahei';
	font-weight: 600;
	margin-left: 5px;
	line-height: 35px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}
.help p {
	display: block;
	line-height: 25px;
	font-size: 12px;
	padding-left: 5px;
}
.help p .redts {
	color: red;
}
.help p .redtsb {
	font-weight: bold;
	font-size: 14px;
}
.help p .yellowts {
	color: #D85D00;
}
.systemnotice {
	margin-top: 50px;
	border: 0;
}
.no-records {
	text-align: center;
}
.page-info .page_search td {
	border: 0;
	border-bottom: 1px dashed #dddddd;
	padding: 5px;
}
.page_list {
	position: relative;
}
#demobox {
	display: none;
	position: absolute;
	left: 100px;
	bottom: 40px;
}
#demobox img {
	border: 1px solid #ccc;
}
.page-info td.ordertype {
	border-right: 1px dashed #dddddd;
}
.page-info .ordertype select {
	height: 120px;
}
.page-info td.tdtitle {
	width: 20%;
}
.historycode, .ball01, .ball02 {
	text-align: center;
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 28px;
	background: #fff;
	border: 1px #dd5e00 solid;
	box-shadow: 1px 1px 2px #6a2e01;
	font-size: 18px;
	line-height: 16px;
	text-align: center;
	color: #dd5e00;
	font-weight: 800;
	margin-right: 12px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
.ball01 {
	border: 1px #11B35E solid;
	color: #6d6b6b;
}
.issue, .th, .tb {
	text-align: center;
}
.page-info .issueinfo {
	width: 90px;
}
.historycode, .ball01, .ball02 {
	text-align: center;
	margin: 0;
}
.wdh {
	width: 16px;
	height: 25px;
}
.page-info td.codetd, .page-info td.charball, .page-info td.wdh, .page-info td.td0, .page-info td.td1 {
	padding: 5px;
	margin: 0;
}
.page-info td.td0 {
	background: #ffe;
}
.page-info td.td1 {
	background: #eff;
}
.ball13, .ball14 {
	color: #cecece;
}
.chartsTable {
	overflow: auto;
	position: relative;
	height: 650px;
}
.chartsTable table {
	width: 95%;
}
/*分页样式开始*/
.pagebutton {
	background: #11B35E;
	color: #ffffff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}
#iGotoPage {
	width: 30px;
}
.pager {
	padding: 5px;
}
.pager li {
	display: inline;
	padding: 5px;
	cursor: pointer;
}
.pager li a {
	color: #000;
}
.pager li a:hover {
	color: #EA721A;
}
.pager li.current {
	background: #11B35E;
	border: none;
}
.pager li.current a {
	color: #ffffff;
}
/*分页样式结束*/
#tabCon {
	margin: 10px;
	line-height: 21px
}
.keyboard {
	left: auto!important;
	top: auto!important;
	border: 1px solid #cdcdcd;
	background-color: #eaeaea;
	display: none;
	padding: 5px;
	width: 470px;
	position: absolute;
	z-index: 10
}
.keyboard .clear {
	clear: both
}
.keyboard ul li {
	text-align: center
}
.keyboard ul .numkey {
	padding-left: 45px
}
.keyboard ul .funtion {
	padding-left: 120px
}
.keyboard ul li div {
	padding: 2px 10px;
	border: 1px outset #FFF;
	background: #eaeaea;
	cursor: pointer;
	margin: 3px;
	display: block;
	float: left
}
.keyboard ul li div:hover {
	background: #FFF
}
.keyboard ul li div.on {
	background: #181818;
	color: #FFF
}
.numkeyboard {
	border: 1px solid #cdcdcd;
	background-color: #eaeaea;
	display: none;
	padding: 5px;
	width: 370px;
	position: absolute;
	z-index: 10
}
.numkeyboard .clear {
	clear: both
}
.numkeyboard ul li {
	text-align: center
}
.numkeyboard ul .funtion {
	padding-left: 110px
}
.numkeyboard ul li div {
	padding: 2px 10px;
	border: 1px outset #FFF;
	background: #eaeaea;
	cursor: pointer;
	margin: 3px;
	display: block;
	float: left
}
.numkeyboard ul li div:hover {
	background: #FFF
}
.numkeyboard ul li div.on {
	background: #181818;
	color: #FFF
}
.table-form>tbody>tr>td, table.st>tbody>tr>td {
	border-top: 0
}
.table-form, table.st {
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0
}
.table-form .nl_title, table.st .nl_title {
	text-align: left;
	font-weight: bold;
	font-size: 16px
}
.table-form .nl, table.st .nl {
	text-align: right;
	padding-top: 11px
}
label {
	cursor: pointer;
}
input[type="checkbox"] {
	vertical-align: middle;
	cursor: pointer;
}
input:focus, select:focus {
	outline: 0;
}
input[type="text"], select, input[type="password"] {
	line-height: 25px;
	height: 25px;
	position: relative;
	color: #555;
	margin: 0 8px;
	background: #fff;
	padding: 2px 5px 2px 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="text"]:active, input[type="text"]:focus, select:active, select:focus {
	border-color: #1f89e1;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(31,137,225,0.75);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(31,137,225,0.75)
}
#bank_8 {
	margin-left: 10px
}
#chineseMoney {
	color: #ea721a;
	font-size: 14px
}
#validate:hover {
	box-shadow: none;
	border: 0
}
.MSLine-box {
	margin-top: 20px;
}
.btn {
	height: 25px !important;
	line-height: 25px !important;
	padding: 0 20px 0 20px !important;
}
.btn-fast {
	padding: 0 10px 0 10px !important;
	line-height: 23px !important;
	height: 23px !important;
	font-size: 12px !important;
}
.page_list .operator {
	text-align: left;
}

/* 响应式 */
@media screen and (max-width: 1054px) {
body > #rightcon {
	width: 1054px
}
.head-box-bg3 {
	display: none;
}
}
