.mdl {
	background: #eaeaea;
	border: 1px #afafaf solid;
	padding: 15px;
	font-size: 12px;
	line-height: 18px;
	position: relative
}
.mdl>table {
	border-top: 1px #8f8f8f solid
}
.mdl h3 {
	display: inline-block;
	float: left;
	position: relative;
	font-size: 16px;
	padding: 0 5px 13px 0;
	font-weight: normal;
	border-bottom: 3px #fc670f solid;
	z-index: 20;
	margin-bottom: -1px
}
.icons_mb5_e, .icons_mb5_n {
	margin: 0 15px 0 0!important;
	background: url(/images/lele/warning.png) no-repeat;
	width: 40px;
	height: 40px;
	position: relative;
	top: 13px
}
.icons_mb5_q {
	margin: 0 15px 0 0!important;
	background: url(/images/lele/mdl-icon.png) no-repeat 0 -40px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 13px
}
.icons_mb5_s {
	margin: 0 15px 0 0!important;
	background: url(/images/lele/mdl-icon.png) no-repeat 0 -98px;
	width: 40px;
	height: 40px;
	position: relative;
	top: 13px
}
.mdl>table td {
	padding-top: 20px
}
.yh:active {
	background: #e58441;
	/*color: #094124;*/
	/*text-shadow: 0 1px #51ba83;*/
	box-shadow: 2px 2px 10px rgba(0,0,0,0.20) inset
}
.yh {
	width: 100px;
	line-height: 34px;
	font-size: 12px;
	background: #f36f74;
	color: #fff;
	text-align: center;
	border: 0;
	display: block;
	box-shadow: 0px 0px 0px #000;
	margin-bottom: 18px;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear
}
.yh {
	display: inline-block;
	font-size: 16px;
	margin: 20px 0
}
.yh:hover {
	background: #f8a9ac
}
#block_close {
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 25px;
	right: 20px;
	cursor: pointer;
	background: url(/images/lele/mdl-icon.png) no-repeat -11px -80px;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out
}
#block_close:hover {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg)
}
.mdl h4 {
	font-weight: normal;
	line-height: 26px;
	color: #555
}
.data {
	margin-top: 25px;
	background: #fff;
	padding: 4px 15px;
	font-size: 12px;
	color: #555;
	line-height: 20px;
	text-align: left;
	height: 150px;
	overflow: auto;
	border-radius: 5px;
	border: 1px solid #ccc
}
.data:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(31,137,225,0.75) ;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(31,137,225,0.75) 
}
.data table {
	width: 100%;
}
.data table td {
	padding: 0;
	border-bottom: 1px dashed #d5d5d5;
	height: 30px;
	line-height: 30px;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: break-all;
}
.data table td textarea {
	resize: none;
}
.data p {
	height: 30px;
	line-height: 30px;
}
#block_ajaxUploadFile {
	cursor: pointer;
	margin-top: 35px;
	width: 350px!important
}
.binfo {
	position: relative;
	top: -50px;
	color: #f87b1f;
	font-size: 13px;
	font-weight: 500
}
#confirm_yes {
	/*margin-left: 60px!important*/
}
.zdinfo {
	text-align: left;
	width: 100%
}
.zdinfo td {
	line-height: 20px;
	border-bottom: 1px #d5d5d5 dashed;
	padding-bottom: 3px
}
.zdinfo textarea {
	border-radius: 5px;
	border: 1px solid #ccc
}
.zdinfo textarea:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #caa2aa;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #caa2aa
}
.t1 {
	width: 780px!important;
	height: 60px!important;
	border: none!important;
	margin: 10px 0
}
.mdl .title {
	margin-top: 15px;
	border-bottom: 1px #d5d5d5 dashed;
	height: 35px;
	line-height: 35px;
	text-align: left;
	padding-bottom: 5px;
	position: relative
}
.mdl .title #cancelproject {
	position: absolute;
	top: -25px
}
.loading {
	width: 300px;
	padding: 10px 100px;
	background-color: #fff;
	opacity: 0.9;
	border: 1px #666 solid;
	border-radius: 3px;
}
