.footer{height:200px;position:relative;text-align: center;}
.footer a{text-decoration: none;}
.footer .wrapper{width:1000px;margin: 0 auto;}
.footer-box1{float:left;color:#6b6b6b;margin:8px 45px 20px 0}
.footer-box1 span{position:relative;top:3px;color:#1f89e1;margin-right:10px}
.footer-box1 a{color:#6b6b6b}
.footer-box1 ul{float:left;padding-right:10px;}
.footer-box1 li{line-height:2.0em;}
.footer-box2 ul{width: 200px;}
.footer-box2 li{width:60px;float:left;}
.footer-box1 h2{line-height:4.3em;color:#23201d;font-weight:normal}
.footer-bt{margin:55px 0 0 50px;padding:8px 35px;color:#1f89e1;border:1px #1f89e1 solid;border-radius:5px;transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out}
.footer-bt:hover{background:#1f89e1;color:#fff}
.footer-bt:active {color: #763a0d;background: #d06517;box-shadow: 2px 2px 10px rgba(0,0,0,0.20) inset}
.footer-bt-style{position:relative;top:-5px;font:18px 'Microsoft Yahei';}
.footer-bt-style:active{color: #763a0d;text-shadow: 0 1px #f59854;}
.footnotice{width:100%;height:35px;line-height: 35px;background:#1f89e1;color:#FFF;position:absolute;bottom:0;}
.cancel{background: #E4E3E3;}
