@import url("./mobile/fonts/iconfont.css");
@import url("./mobile/fonts/iconfont/iconfont.css");
body {
#adsfasdf
  background: #1B1F2A;
}
.mui-content-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  color: #fff;
  top: 44px;
  height: calc(100% - 44px);
  height: -webkit-calc(100% - 44px);
  background: url(/images/lele/bg.jpg) center 0 no-repeat #1B1F2A;
  -webkit-background-size: cover;
  background-size: cover;
}
.mui-bar-nav {
  background: #242C3C;
  -webkit-box-shadow: 0 1px 6px #000;
  box-shadow: 0 1px 6px #000;
}
.mui-bar-nav a {
  color: #fff;
}
.mui-title {
  color: #fff;
}
.img-auto {
  max-width: 100%;
  margin: 0 auto;
}
.logo {
  max-width: 50%;
}
.mui-btn-yellow {
  background: #EA721A !important;
  border-color: #EA721A;
}
.ios-down-page button {
  margin: 1em 0 0;
}
.ios-down-page h4 {
  padding: 1em 0;
}
.returnIndexRow {
  margin-top: 1em;
  text-align: center;
}
.returnIndexRow .mui-content-padded a {
  margin: 3px;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background-color: #40475B;
  border-radius: 25px;
  background-clip: padding-box;
  animation: 1.5s arrowright ease-in-out 0s normal none infinite running;
  -webkit-animation: 1.5s arrowright ease-in-out 0s normal none infinite running;
}
.returnIndexRow .mui-content-padded a .mui-icon {
  margin-top: 13px;
}
.returnIndexRow .mui-icon-forward:before {
  color: #fff;
}
.returnIndexRow-Up {
  margin-top: 1em;
  text-align: center;
}
.returnIndexRow-Up .mui-content-padded a {
  margin: 3px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  display: inline-block;
  text-align: center;
  background-color: #40475B;
  border-radius: 25px;
  background-clip: padding-box;
  animation: 1.5s arrowUp ease-in-out 0s normal none infinite running;
  -webkit-animation: 1.5s arrowUp ease-in-out 0s normal none infinite running;
}
.returnIndexRow-Up i {
  font-size: 30px;
  line-height: 50px;
}
@-webkit-keyframes arrowright {
  0%,
  30% {
    opacity: 0;
    -webkit-transform: translate(-2px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(8px, 0);
  }
}
@-webkit-keyframes arrowUp {
  0%,
  30% {
    opacity: 0;
    -webkit-transform: translate(0, 8px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -2px);
  }
}
/*login*/
.contentWrap {
  padding: 0 15px;
}
.contentWrap .mui-input-group {
  background: 0;
  margin-top: 15px;
}
.contentWrap .mui-input-group > div {
  background: #fff;
}
.contentWrap .mui-input-group:after {
  display: none;
}
.contentWrap .yzm {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mui-input-row label {
  color: #333;
}
.mui-input-row input {
  color: #333;
}
.mui-input-row label {
  padding-left: 0;
  text-align: right;
  padding-right: 0;
  white-space: nowrap;
  width: 100px;
}
.mui-input-group {
  padding-bottom: 15px;
}
.mui-input-group .mui-input-row:after {
  left: 0;
}
.mui-input-row label ~ input,
.mui-input-row label ~ select,
.mui-input-row label ~ textarea {
  width: calc(100% - 120px);
}
.mui-btn-success {
  background: #20B064;
}
.mui-btn-block {
  padding-top: 8px;
  padding-bottom: 8px;
}
/*index*/
.content-index p {
  color: #fff;
}
.important {
  color: #EA721A !important;
}
.index-menu {
  height: 250px;
  position: relative;
}
.index-menu a {
  width: 80px;
  display: block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}
.index-menu .a1 {
  left: 15%;
  top: 70px;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out .5s;
  transition: all .6s ease-in-out .5s;
}
.index-menu .a1 p {
  color: #12B35E;
}
.index-menu .a2 {
  left: 80%;
  top: 80px;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out .8s;
  transition: all .6s ease-in-out .8s;
}
.index-menu .a2 p {
  color: #EA721A;
}
.index-menu .a3 {
  left: 20%;
  top: 190px;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out 1.2s;
  transition: all .6s ease-in-out 1.2s;
}
.index-menu .a3 p {
  color: #2DA8E8;
}
.index-menu .a4 {
  top: 200px;
  left: 65%;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out 1.6s;
  transition: all .6s ease-in-out 1.6s;
}
.index-menu .a4 p {
  color: #808CB0;
}
.xianlu-row {
  padding: 0 3px;
}
.xianlu-row a {
  text-align: center;
  display: block;
  border: 1px solid #fff;
  font-size: 14px;
  margin: 5px;
  padding: 10px 0;
  color: #fff;
}
.xianlu-row .mui-active {
  border-color: #808CB0;
  color: #808CB0;
}
.appdown-row {
  margin-top: 10px;
  padding: 0 8px;
}
.appdown-row a {
  display: block;
  width: 45%;
  padding-left: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  position: relative;
  border: 1px solid #fff;
}
.appdown-row i {
  font-size: 30px;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.appdown-row .mui-active {
  border-color: #808CB0;
  color: #808CB0;
}
.appdown-row .mui-active i {
  color: #808CB0;
}
.footer {
  padding: 25px 0;
}
/*线路检测*/
.cesu-row p {
  margin-bottom: 0;
}
.cesu-row .mui-col-xs-4:nth-of-type(1) a p {
  color: #EA721A;
}
.cesu-row .mui-col-xs-4:nth-of-type(2) a p {
  color: #808CB0;
}
/*article*/
article {
  padding: 0 10px;
  position: relative;
}
article p {
  text-indent: 1em;
  margin-bottom: 1em;
}
article .p {
  padding-left: 1em;
}
article .kefubtn {
  background: #EA721A;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}
article .tel {
  color: #808CB0;
}
/*关于我们*/
.content-about {
  background: url(../images/contact/bg.jpg) center 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.content-about p {
  color: #fff;
}
.content-about:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/flower.png) 0 10px no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.cailist a {
  display: block;
  text-align: center;
}
.cailist img {
  max-width: 80%;
}
.mui-col-xs-20 {
  width: 20%;
}
.cailist2 a {
  display: block;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
}
.cailist2 img {
  max-width: 80%;
  line-height: 60px;
  vertical-align: middle;
}
/*侧滑*/
#offCanvasSide {
  color: #fff;
}
.titleUser {
  padding: 15px 0;
}
.mui-off-canvas-left,
.mui-off-canvas-right {
  background: #1B1F2A;
}
#sideMenu {
  background: #1B1F2A;
}
#sideMenu:before {
  background-color: #1B1F2A;
}
#sideMenu li {
  position: relative;
}
#sideMenu .mui-pull-right {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#sideMenu .mui-table-view-cell:after {
  background-color: #273041;
}
#sideMenu i {
  font-size: 22px;
}
.mui-table-view-title {
  background: #fff;
  padding: 10px 15px;
}
.mui-table-view-title h4 {
  font-size: 16px;
  color: #273041;
}
.mui-input-group .mui-table-view-title {
  border-bottom: 1px solid #E3E2E5;
}
.userCenterWrap .mui-table-view-cell > a:not(.mui-btn) {
  padding-left: 40px;
}
.fa {
  display: inline-block;
  background: url() center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*投注列表*/
.userContentWrap {
  background: #ececec;
  top: 44px;
  bottom: 1px;
  width: 100%;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.userContentWrap h3 {
  padding: 10px 15px;
  border-bottom: 1px solid #B7B7B7;
}
div.list {
  margin-bottom: 1em;
  background: #fff;
}
div.list .mui-row {
  position: relative;
  /*padding-left: 15px;*/
  padding-right: 15px;
  border-bottom: 1px solid #B7B7B7;
}
div.list .title {
  padding: 10px 0;
}
div.list .con {
  /*padding: 10px 0;*/
}
.itemList {
  margin-bottom: 1em;
  background: #fff;
}
.itemList h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pages {
  margin-bottom: 1em;
  margin-top:10px;
}
.pages ul,
.pages li {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pages li {
  display: inline-block;
}
.pages button {
  background: #273041;
  color: #fff;
  border-color: #273041;
}
.mui-popover {
  top: 50% !important;
  border-radius: 0;
  background: #FFFFFF;
  min-width: 300px;
  width: 90%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  left: 50% !important;
  background: #fff;
}
.mui-popover-arrow {
  display: none !important;
}
.mui-popover-title {
  background: #EA721A;
  padding: 10px 15px;
  color: #fff;
}
.mui-popover-title h3 {
  font-size: 18px;
}
.mui-popover-content {
  padding: 15px 0px;
  position: relative;
}
.mui-popover-content select {
  background: #DCDADA;
  outline: none;
  padding-top: 4px;
  padding-bottom: 4px;
  text-indent: 10px;
}
.mui-popover-content th {
  white-space: nowrap;
  padding-left: 10px;
}
.mui-popover-content th,
.mui-popover-content td {
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: middle;
}
.mui-popover-content td {
  padding-right: 5px;
}
.mui-popover-content .input-txt {
  margin-bottom: 0;
  height: 34px;
  padding-top: 0;
  padding-bottom: 0;
  background: #DCDADA;
  border: 0;
}
.mui-popover-btn {
  border-top: 2px solid #B7B7B7;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
}
.mui-popover-btn button {
  width: 50%;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
}
.mui-popover-btn button:nth-of-type(2) {
  border-left: 1px solid #B7B7B7;
}
.mui-popover-btn2 button {
  width: 100%;
}
.banklist label {
  display: inline-block;
}
.banklist label input[type="radio"] {
  display: none;
}
.banklist .banks {
  display: inline-block;
  height: 45px;
  padding: 0 10px;
  line-height: 45px;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  text-align: center;
}
.banklist .banks img {
  height: 30px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
}
.banklist input[type=radio]:checked + div {
  box-shadow: 0 0 0px 1px #C70000 inset;
}
.userCenterWrap .mui-input-row {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
}
.userCenterWrap .mui-input-row label ~ input,
.userCenterWrap .mui-input-row label ~ select,
.userCenterWrap .mui-input-row label ~ textarea {
  background: #DCDADA;
  padding-left: 15px;
  border-radius: 5px;
  position: relative;
  width: calc(100% - 130px);
  margin-right: 10px;
}
.userCenterWrap .mui-input-row label ~ span {
  display: inline-block;
  padding-top: 10px;
}
.userCenterWrap .mui-input-row .mui-input-clear ~ .mui-icon-clear,
.userCenterWrap .mui-input-row .mui-input-password ~ .mui-icon-eye,
.userCenterWrap .mui-input-row .mui-input-speech ~ .mui-icon-speech {
  top: 15px;
  right: 5px;
}
.h15 {
  height: 15px;
  clear: both;
  background: #EFEFF4;
}
.mui-input-group .mui-input-row .label {
  width: auto;
  margin-right: 10px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background: 0 bottom no-repeat;
  background-image: url(../images/icon/radio.png) !important;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
  /*-webkit-appearance: none;*/
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  top: -2px;
  vertical-align: middle;
}
input[type="radio"]:checked {
  background-image: url(../images/icon/radio2.png) !important;
  -webkit-background-size: cover;
  background-size: cover;
}
.mui-password-eye .mui-icon-eye {
  top: 4px !important;
}
/*彩票大厅*/
.toGameBtn {
  display: table;
  width: 100%;
  padding-left: 15px !important;
}
.toGameBtn .title {
  width: 20%;
  max-width: 120px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.toGameBtn .title img {
  width: 90%;
  text-align: center;
  max-width: 110px;
}
.toGameBtn .con {
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
}
.toGameBtn .con h4,
.toGameBtn .con p {
  color: #242C3C;
}
.footerNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  background-color: #444;
  bottom: 0;
  text-align: center;
  z-index: 2;
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
}
.flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: block;
}
.footerNav > button,
.footerNav a.btn {
  font-size: 16px;
  text-align: center;
  border: 0;
}
.footerNav > button.pad,
.footerNav a.btn.pad {
  margin: 15px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
}
.footerNav > input.pad,
.footerNav a.btn.pad {
  margin: 15px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
}
.footerNav > input.green,
.footerNav a.btn.green {
  background-color: #12B35E;
  color: #fff;
}
.footerNav > button.green,
.footerNav a.btn.green {
  background-color: #12B35E;
  color: #fff;
}
.footerNav > button.yellow,
.footerNav a.btn.yellow {
  background: #EA721A;
  color: #38200b;
  color: #fff;
}
.footerNav > input.yellow,
.footerNav a.btn.yellow {
  background: #EA721A;
  color: #38200b;
  color: #fff;
}
.footerNav a.btn.white {
  background: #FFFFFF;
  color: #000000;
}
.footerNav > div {
  font-size: 16px;
  position: relative;
  color: #FFFFFF;
}
.footerNav > div span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footerNav > div span b {
  font-weight: normal;
}
.footerNav .mui-badge {
  background: #010101;
  color: #fff;
  -webkit-transform: translateY(-8px);
  transform: translateY(-10px);
}
#sideMenu ~ p {
  display: none;
}
/*投注页面*/
.betTypeNav {
  background-color: #fff;
  height: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
}
.betTypeNav .fa {
  position: inherit;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.betTypeWrap {
  position: relative;
  height: 50px;
  float: left;
  width: 50%;
}
.betTypeText {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.betTypeWrap > select {
  opacity: 0;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.countDownMsg {
  text-align: center;
  border-bottom: 1px solid #B7B7B7;
  padding-top: 5px;
  padding-bottom: 5px;
}
.play_description {
  text-align: center;
  line-height: 2em;
  padding-top: 5px;
  /*padding-bottom: 15px;*/
  font-size: 14px;
}
.numRow {
  padding: 10px 4px;
  border-bottom: 1px solid #CCC;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-11 {
  -webkit-box-flex: 11;
  -moz-box-flex: 11;
  -webkit-flex: 11;
  -ms-flex: 11;
  flex: 11;
  display: block;
}
.numRow .ballName {
  background: transparent;
  border: 0;
  text-align: center;
  font-size: 22px;
  color: #273041;
  padding-top: 8px;
  font-weight: bold;
}
.numRow .ballGroup {
  width: 35px;
  display: inline-block;
  text-align: center;
}
.numRow .ballNum {
  border: 1px solid #DCDADA;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFFFFF;
  color: #273041;
  font-size: 25px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-bottom: 5px;
}
.numRow .selected {

  border: 1px solid #DCDADA;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFFFFF;
  color: #273041;
  font-size: 25px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-bottom: 5px;

  border: 1px solid #273041;
  background: #273041;
  color: #fff;
}
.betTypeNavBtn .mui-col-xs-4 {
  padding: 0 3px;
}
.betTypeNavBtn .mui-col-xs-4:nth-of-type(1) {
  padding: 0 6px 0 0;
}
.betTypeNavBtn .mui-col-xs-4:nth-of-type(3) {
  padding: 0 0 0 6px;
}
.betTypeNavBtn .fa {
  position: inherit;
  -webkit-transform: translateY(0);
  margin-right: 10px;
  transform: translateY(0);
}
.orderEmpty {
  background: #fff;
  border: 1px solid #CCCCCC;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px 15px;
  text-align: center;
}
.orderEmpty .fa {
  position: inherit;
  -webkit-transform: translateY(0);
  margin-right: 10px;
  transform: translateY(0);
}
.orderList {
  background: #fff;
  border: 1px solid #CCCCCC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  position: relative;
  margin: 0 10px;
  margin-bottom: 10px;
}
.orderList button {
  border: 0;
  height: 50px;
  width: 50px;
  background: url(../images/icon/cancel2.png) center no-repeat;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.orderList span {
  display: block;
}
.orderList .ball {
  color: #000000;
  font-size: 20px;
}
@media screen and (max-width: 340px) {
  .betTypeNavBtn .mui-btn-block {
    font-size: 14px;
    line-height: 22px;
  }
  .betTypeNavBtn .mui-btn-block .fa {
    width: 15px;
  }
}
#orderSet {
  color: #000;
}
#orderSet .betTypeText {
  margin-bottom: 0;
  height: 34px;
  padding-left: 10px;
  line-height: 34px;
  padding-right: 10px;
  background: #B7B7B7;
  border-radius: 0 3px 3px 0;
}
#orderSet .betTypeText .fa {
  position: inherit;
  -webkit-transform: translateY(0);
  margin-right: 5px;
  transform: translateY(0);
  width: 15px;
}
#orderSet select {
  height: 34px;
  padding-top: 0;
  padding-bottom: 0;
}
#orderSet .betTypeWrap {
  height: 34px;
  position: relative;
  overflow: hidden;
}
.article-popover-content {
  height: 50vh;
  min-height: 150px;
  max-height: calc(100vh - 100px);
  max-height: -webkit-calc(100vh - 100px);
}
/*# sourceMappingURL=index.css.map */
