@charset "utf-8";
body {font:12px Arial,"Microsoft YaHei","SimHei";color: #4c5154;}
html,body {height:100%;min-width:1280px;min-height:600px;}
*{margin:0;padding:0;font-family:Microsoft YaHei, Arial;}
ul li { list-style-type: none; }
ol,ul{list-style:none;}
em{font-style:normal;}
a{ text-decoration:none; color:#717171;cursor: pointer;}
img{ border:0; vertical-align:middle }
body{background-color: #EEE;}

/**/
.regist-main{
    position: relative;
    height: 100%;
    background:url(/images/lele/login/1.jpg) no-repeat center top #2f333f fixed;
    background-size: cover;
}
.regist-center{
	    width: 1038px;
	margin:0 auto;


}
/*login*/
.loginBox{
	 margin:0 auto;
	width:840px;
	padding-top:136px;

	min-height: 400px;
}


.loginBox .login_t { position:relative;
    height: 80px;   
    width: 100%;
}
.loginBox .login_t .l_logo { 
    width: 184px; margin:0 auto;

}

.loginArea{
	width: 745px;
	padding: 40px 0 0 40px;
	min-height: 366px;
	_height:366px;
	margin: 0 auto;
	background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
	zoom: 1;
}
.loginArea:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.loginArea-lef{
	width: 355px;
	float: left;
}
.loginArea-lef a.login-actLink{
	position: relative;
	display: block;
	width: 315px;
	height: 309px;
	overflow: hidden;
	cursor: default;

}
.loginArea-lef a.login-actLink img{
	display: block;
	width: 315px;
	height: 309px;
	border: none;
}
.login-actLink i{
	display: block;
	position: absolute;
	width: 65px;
	height: 65px;
	top: 0;
	right: 0;
	cursor: pointer;
}
.loginArea-lef p{
	margin-top: 12px;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.loginArea-lef p span{
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	color: #717171;
}
.loginArea-rig{
	width: 335px;
	padding-left: 53px;
	min-height: 315px;
	_height:315px;
	float: left;
	border-left: 1px solid #eee;
}
.login-moreLink{
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	color: #ff9966;
}
.login-moreLink:link{color: #ff9966;}
.login-moreLink:visited{color: #ff9966;}
.login-moreLink:hover{color: #f85;}
.login-moreLink:active{color: #f85;}
.loginArea-rigHead{
	zoom: 1;
	height: 24px;
	margin-bottom: 35px;
}
.loginArea-rigHead h2{
	display: inline-block;
	float: left;
	width: 188px;
	height: 24px;
	line-height: 24px;
	float: left;
	color: #333;
	font-size: 20px;
	text-align: left;
	font-weight: 500;
}
.loginArea-rigHead p{
	display: inline-block;
	float: left;
	padding-top: 8px;
	height: 16px;
	line-height: 16px;
	zoom: 1;

}
.loginArea-rigHead p:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.loginArea-rigHead p a i{
	position: absolute;

	top: 0;
	left: 0;
	width: 16px;
	height: 16px;

}
.loginArea-rigHead p a{
	display: inline-block;
	position: relative;
	padding-left: 20px;
	float: left;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	color: #ff9966;
}
.loginArea-rigHead p a:link{color: #ff9966;}
.loginArea-rigHead p a:visited{color: #ff9966;}
.loginArea-rigHead p a:hover{color: #f85;}
.loginArea-rigHead p a:active{color: #f85;}
.loginArea-rigHead:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}

.login-form{
}
.loginForm-item{
	position: relative;
	zoom: 1;
	width: 270px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
.loginForm-item:after{display:block;clear:both;visibility:hidden;height:0;content:'-';}
.loginForm-item span{
	position: relative;
	display: inline-block;

	width: 44px;
	height: 40px;
	line-height: 30px;
	font-size: 14px;
	color: #717171;
	float: left;
	border-right: 1px solid #d9d9d9;
}
.loginForm-item input{
	display: inline-block;
	float: left;
	height: 38px;
	line-height: 38px;
	text-indent: 15px;
	border: none;
	outline: none;
}
.loginForm-item span i{
	display: block;
	position: absolute;
	top: 12px;color: #999;
	left: 16px; font-size:20px;

}
.loginForm-item .forget_paw {
    position: absolute;
    right: 2px;
    top: -2px;
   border-radius: 2px;
    color: #666;

}
.login-username input{
	width: 225px;
}
.login-pwd input{
	width: 225px;
}
.login-code{
	height: 42px;
	/*padding-bottom: 23px;*/
	margin:25px 0 0 0;
}
.login-code input{
	width: 120px;
	margin-right: 15px;
}
.login-code  img{
	display: inline-block;
	float: left;
	width: 73px;
	height: 40px;
	margin-left: 12px;
	border: none;
	cursor: pointer;
}
.login-forget{
	text-align: right;
	padding-top: 20px;
	width: 270px;
}
.login-forget a{
	display: inline-block;
	font-size: 14px;
	color: #666;
	line-height: 14px;
	height: 14px;
}
.login-forget a:hover,.login-forget a:active{
	color: #000;
}
.loginForm-item b{
	position: absolute;
	display: block;
	top: 43px;
	left: 50px;
	font-size: 12px;
	line-height: 14px;
	height: 14px;
	color: #E94B42;
}
.login-submit{
	position: relative;
	width: 272px;
	margin-top: 10px;
	text-align: center;
}
.login-submit .loginBtn{
	display: inline-block;
	width: 270px;
	height: 42px;
	line-height: 42px;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border:0px;
	background-color: #fc670f;
	cursor: pointer;
}
.login-submit a.loginForget{
	position: absolute;
	display: block;
	top: 7px;
	left: 155px;
	padding: 2px 12px;
	height: 26px;
	line-height: 26px;
	color: #0a97cf;
}
.login-submit .loginBtn:link{background-color: #fc670f;}
.login-submit .loginBtn:visited{background-color: #fc670f;}
.login-submit .loginBtn:hover{background-color: #e58441;}
.login-submit .loginBtn:active{background-color: #e58441;}

.login-submit a.loginForget:link{color: #0a97cf;}
.login-submit a.loginForget:visited{color: #0a97cf;}
.login-submit a.loginForget:hover{color: #00bbff;}
.login-submit a.loginForget:active{color: #00bbff;}
.loginBottontips{
	font-size: 14px;
	color: #bebebe;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-top: 32px;
}
.loginwelcome{
	color: #C80000;
	font-size: 12px;
}
.login_msg{
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 5px;
	width: 300px;
	border-radius: 5px;
	margin-top: 25px;
}
.login_box{
	animation: none;
	-moz-animation: none;
	-o-animation: none;
	-webkit-animation: none;
}
.login_form{
	animation: none;
	-moz-animation: none;
	-o-animation: none;
	-webkit-animation: none;
}

