@font-face {
	font-family: "DISPLAYFREETFB";
	src: url("fonts/DISPLAYFREETFB.ttf")
}
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
	border: 0
}
body {
	font: 12px 'Microsoft Yahei', Arial
}
.clear {
	clear: both
}
ul, li {
	list-style: none
}
.gm_con_to {
	width: 1010px;
	margin: 0 auto
}
.color-blue {
	color: #2ca8e6
}
.top-bg {
	width: 100%;
	height: 260px;
	background: url(/images/jinjue/bnbg.jpg) repeat
}
.-top {
	position: relative;
	top: -260px;
	margin-bottom: -240px
}
.game-icon2 {
	width: 140px;
	height: 120px;
	float: left;
	margin: 0 5px 0 15px;
	background: url(/images/jinjue/game-icon2.png) no-repeat 5px 25px
}
.game_1 {
	background-position: 5px 27px;
}
.game_2 {
	background-position: 5px -1180px;
}
.game_3 {
	background-position: 5px -1880px;
}
.game_4 {
	background-position: 5px -1005px;
}
.game_5 {
	background-position: 5px -655px;
}
.game_6 {
	background-position: 5px -312px;
}
.game_7 {
	background-position: 5px -480px;
}
.game_8 {
	background-position: 5px -1350px;
}
.game_9 {
	background-position: 5px -1705px;
}
.game_10 {
	background-position: 5px -1530px;
}
.game_11 {
	background-position: 5px -2220px;
}
.game_12 {
	background-position: 5px -2405px;
}
.game_13 {
	background-position: 5px -2055px;
}
.game_14 {
	background-position: 5px -830px;
}
.game_15 {
	background-position: 5px -133px;
}
.gct_l {
	width: 610px;
	margin: 20px 0;
	background:rgba(0,0,0,0.2);
	height: 120px
}
.gct_l, .game-icon2 div, .game-icon2 h3 {
	float: left
}
.gct_l h3 {
	font-size: 16px;
	color: #fff;
	line-height: 20px;
	padding-top: 15px;
	font-weight: 400
}
.gct_now {
	color: #fff;
	line-height: 20px;
	padding-top: 5px
}
.bt01 {
	margin-top: 5px;
	padding: 1px 10px;
	display: inline-block;
	border: 1px #fff solid;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
.bt01:hover {
	border: 1px #11b35e solid;
	background: #11b35e
}
.time-title {
	color: #fff;
	float: right;
	margin: 15px 130px 10px 0;
	display: inline-block
}
.gct_time_now_l {
	float: right;
	position: relative;
	top: 7px;
	left: -25px;
	font-family: "DISPLAYFREETFB", 'Microsoft Yahei'
}
.leaveh-1, .leaveh-2, .leavem-1, .leavem-2, .leaves-1, .leaves-2 {
	/*width: 42px;*/
	/*height: 54px;*/
	color: #fff;
	margin-right: 2px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 48px;
	display: inline-block;
	text-shadow: 1px 1px #000;
	/*background: url(/images/jinjue/time-bg.png) no-repeat;*/
	background-color: #f36f74;
	padding: 5px 0 0 2px;
	border-radius:5px;
}
.interval {
	display: inline-block;
	height: 54px;
	color: #ed793d;
	font-size: 28px;
	text-align: center;
	margin-right: 3px
}
#shownb-box {
	float: right;
	color: #fff;
	width: 380px;
	background:rgba(0,0,0,0.2);
	margin-top: 20px;
	position: relative
}
.box-ul {
	float: right;
	width: 30px
}
.box-ul a {
	float: right;
	display: inline-block;
	height: 50px;
	padding: 5px 0 5px 8px;
	text-decoration: none;
	color: #fff;
	background:rgba(0,0,0,0.3);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
#tabs_container {
	width: 350px;
	height: 120px;
	overflow: hidden;
	position: relative;
}
#nb-box1, #nb-box2 {
	float: left;
	width: 300px;
	/*height: 120px;*/
	top: 0!important
}
#nb-box1 p {
	margin: 15px 0 0 28px
}
#shownb-box li a:hover {
	background: #1f89e1
}
.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0
}
.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "alpha(opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s
}
.tabulous_active {
	background:none !important;
	color: #fff !important;
	border-right: 3px #0068c3 solid !important
}
.tabulousclear {
	display: block;
	clear: both
}
.show-nb1 {
	margin-top: 20px;
	text-align: center;
	display: block
}
.show-nb1 li {
	display: inline-table;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: #fff;
	border: 3px #1f89e1 solid;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.50);
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	text-shadow: 1px 1px rgba(0,0,0,0.50);
	color: #1f89e1;
	font-weight: 800;
	margin-right: 12px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
.show-keno {
	margin-top: 5px;
	margin-left: 20px
}
.show-nb1 li.keno {
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 25px;
	font-size: 16px;
	margin-right: 4px;
	margin-bottom: -3px;
	color: #1f89e1;
	border: 2px #1f89e1 solid;
	text-shadow: 1px 1px rgba(0,0,0,0.2)
}
#nb-box2 {
	padding: 5px 0 0 25px
}
#nb-box2 p {
	height: 23px
}
.nb-box-q {
	color: #2ca8e8;
	/*font-weight: bold*/
}
.nb-box-h {
	font-weight: bold;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 20px;
	background: #2ca8e8;
	text-align: center;
	box-shadow: 1px 1px 2px #094a6c;
	margin-right: 4px
}
.tz_body {
	color: #fff;
	background: #23201d
}
.u_tab_div {
	background: #f5f5f5;
	line-height: 37px
}
.tab-front .content, .tab-back .content {
	padding: 8px 20px 14px 20px;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
	color:#333;
}
.tab-back .content:hover {
	background: #efebe8;
	color: #f36f74
}
.tab-front .content {
	background: #efebe8;
	color: #b31111;
	border-top: 3px #c10e0e solid;
}
#changemode .content {
	line-height: 18px;
	background: #f36f74;
	padding: 11px 30px;
	text-shadow: 0 -1px rgba(0,0,0,0.50);
	color:#fff;
}
#changemode .content:hover, #lt_buy:hover {
	background: #f36f74;
	color: #fff
}
#changemode .content:active, #lt_buy:active, .yh:active {
	background: #f36f74;
	color: #fff;
	text-shadow: 0 1px #b3b3b3;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.20) inset
}
#tabbar-div-s3 {
	background: #dcdcdc;
	font-size: 12px;
	text-align: left;
	padding: 10px 0 10px 25px
}
#tabbar-div-s3 li {
	height: 30px;
	display: block
}
#tabbar-div-s3 div {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px
}
.act, .back, .tz_title {
	float: left
}
#tabbar-div-s3 span {
	cursor: pointer;
	height: 30px;
	line-height: 30px
}
#tabbar-div-s3 span:hover {
	color: #f36f74;
}
#tabbar-div-s3 .act span:hover{
	color: #ffffff;
}
.back {
	color: #909090;
	/*background-color: #f36f74;*/
	/*background: url(/images/jinjue/play-icon.png) no-repeat 12px -18px*/
}
.act {
	color: #ffffff;
	background-color: #f36f74;
	/*background: url(/images/jinjue/play-icon.png) no-repeat 12px 8px*/
}
.tzn_body {
	background: #2b2b2b;
	font-size: 14px;
	position: relative
}
.tbn_top, .tbn_cen, .tbn_b_top {
	background: #eaeaea;
	width: 960px;
	position: relative;
	margin: 0 auto;
	padding: 10px 0 5px 25px;
	border-left: 10px #23201d solid;
	border-right: 10px #23201d solid
}
.tbn_b_top {
	border-bottom: 10px #23201d solid;
	padding-top: 15px
}
.tbn_top {
	padding: 10px 10px 0 15px
}
.tbn_top h5 {
	float: left;
	font-weight: normal;
	padding-left: 10px
}
.more {
	background: #fd2e2e;
	color: #fff;
	font-size: 12px;
	mini-width: 220px;
	max-width: 280px;
	border-radius: 5px
}
.more>div {
	padding: 8px 20px 0 0
}
.more:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 50px;
	bottom: -4px;
	border-width: 5px 5px 0 5px;
	border-style: solid;
	border-color: #fd2e2e transparent
}
#lt_example, #lt_help {
	float: left;
	color: #ee2b33;
	width: 60px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	overflow: hidden;
	padding-left: 18px;
	cursor: pointer
}
.nbs {
	height: 45px;
	margin-bottom: 5px
}
.tiempty {
	float: left;
	width: 145px;
	height: 1px
}
.ti, .nb, .nb div, .to, .nbs li {
	float: left
}
/*.ti, .to {*/
	/*font-size: 16px;*/
	/*color: #1f89e1;*/
	/*line-height: 36px;*/
	/*text-align: center;*/
	/*border-radius: 36px;*/
	/*background: #d5d5d5;*/
	/*box-shadow: 0 3px 5px #bbb inset;*/
	/*margin-top: 7px;*/
	/*-webkit-transition: all .2s linear;*/
	/*-moz-transition: all .2s linear;*/
	/*-o-transition: all .2s linear;*/
	/*-ms-transition: all .2s linear;*/
	/*transition: all .2s linear*/
/*}*/
.to {
	margin-left: 28px
}
.ti {
	margin: 5px 0px;
	width: 64px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	background: url(../../images/lele/game/bg_05.gif) no-repeat left;
	color: #666;
	/*width: 120px;*/
	/*margin-right: 25px*/
}
.nb, .nbts, .nbksts, .bl {
	float: left;
	margin: 2px 0;
	padding: 0px 15px;
	border-radius: 25px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	-ms-transition: all .3s linear;
	transition: all .3s linear
}
/*.nb:hover, .selposition:hover, .to:hover {*/
	/*background: rgba(31,137,225,0.10);*/
	/*box-shadow: 0 3px 5px #c1c1c1 inset*/
/*}*/
.nb div, .dxjoq, .nbts div, .nbksts div, .bl div, .random_button, .possibleprize {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: #fff;
	border: 1px #bbb solid;
	box-shadow: 0px 0px 0px #bbb;
	font-size: 15px;
	line-height: 33px;
	text-align: center;
	color: #8f8f8f;
	font-weight: 500;
	margin: 0 5px;
	cursor: pointer;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
.nbts div, .nbksts div, .bl div, .random_button, .possibleprize {
	padding: 1px 20px;
	font-size: 15px;
	border-radius: 5px
}
.nb div:hover, .nbts div:hover, .nbksts div:hover, .bl div:hover, .random_button:hover {
	border: 1px #f00 solid
}
.nb .on, .to .on, .nbts .on, .nbksts .on, .bl .on, .on {
	background: #f36f74;
	color: #fff
}
#lt_selector li:nth-last-child(2).on {
	background: #11b35e
}
#lt_selector li:hover {
	border: 1px #f00 solid
}
#lt_selector li:hover:nth-last-child(2) {
	border: 1px #11b35e solid
}
.to {
	width:110px;
	/*padding: 5px 15px*/
	/* padding: 0px 0px 12px 40px; */
}
.dxjoq {
	width: 30px;
	height: 30px;
	border-radius: 25px;
	font-size: 20px;
	line-height: 25px;
	font-weight: normal
}
.nbksts {
	margin-right: 150px
}
.bl div {
	width: 70px
}
.random_sel_button {
	float: left
}
.random_button, .possibleprize {
	font-size: 14px;
	width: 86px;
	padding: 2px 0;
	margin: 0 6px
}
.possibleprize {
	background: #11b35e;
	color: #fff
}
.possibleprize:hover {
	background: #098e48
}
.funny_desc {
	color: #11b35e;
	float: left;
	font-size: 12px;
	margin: 32px 0 0 15px
}
#random1, #lt_possibleprize {
	margin: 20px 6px 10px 6px
}
#f_r_down_even {
	margin-bottom: 20px
}
.keno {
	width: 900px;
	margin: 10px 0
}
.ha {
	float: left
}
#lt_write_box {
	height: 250px!important;
	width: 100%!important;
	border: 1px solid #e9e9e9;
}
.write_box_desc {
	font-size: 12px;
	margin: 10px;
	display: block
}
.selposition {
	width: 100%;
	/*line-height: 50px;*/
	text-align: center;
	border-radius: 340px;
	background: #d5d5d5;
	box-shadow: 0 3px 5px #bbb inset;
	margin: 15px 0 20px 0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}
.selposition label {
	margin-right: 10px;
	cursor: pointer
}
.positiondesc {
	font-size: 12px
}
.positioncount {
	color: #ea721a;
	font-weight: bold;
	font-size: 14px
}
.tbn_bt_sel {
	float: left;
	line-height: 50px;
	margin-left: 10px;
	font-size: 12px
}
.n, .sub_txt .r, .y {
	color: #ea721a;
	font-size: 14px;
	min-width: 30px;
	display: inline-block;
	text-align: center
}
.changetime {
	background: #1f89e1;
	color: #fff;
	width: 20px;
	text-align: center;
	line-height: 22px;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px
}
#lt_sel_modes, #lt_sel_dyprize, #lt_sel_times, #lt_issue_start, #lt_trace_qissueno, #lt_trace_times_margin, #lt_trace_margin, #lt_trace_count_input, #lt_trace_times_same, #lt_trace_diff, #lt_trace_times_diff {
	/*width: 45px;*/
	/*height: 24px;*/
	position: relative;
	top: -1px;
	/*margin: 0 8px;*/
	color: #5c5c5c;
	text-align: center;
	background: #fff;
	border: 0
}
#lt_trace_qissueno {
	width: 120px
}
#lt_sel_times, #lt_trace_times_margin, #lt_trace_count_input, #lt_trace_times_same, #lt_trace_diff, #lt_trace_times_diff, #lt_trace_margin {
	height: 22px;
	width: 70px;
	border-radius: 5px;
	margin: 0 1px
}
#lt_sel_dyprize {
	width: 100px
}
.g_submit {
	width: 140px;
	height: 50px;
	background: #1f89e1;
	cursor: pointer;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	text-shadow: 0 -1px rgba(0,0,0,0.50);
	box-shadow: 1px 1px 3px #626262;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear
}
.g_submit:hover {
	background: #259cfe
}
.g_submit:active {
	background: #0068c3;
	color: #004684;
	text-shadow: 0 1px #329fff;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.20) inset
}
.g_submit span {
	margin-right: 12px
}
/*#lt_sel_insert {*/
	/*float: right;*/
	/*margin: 0 15px 20px 0;*/
	/*cursor: pointer;*/
/*}*/
/*#lt_sel_insert:hover {*/
	/*background-color: #f36f74;*/
	/*cursor: pointer;*/

/*}*/
.tbn_b_bot {
	width: 750px;
	height: 20px;
	border: 1px #3e3e3e solid;
	background: #23201d;
	margin: 20px 0 0 20px;
	border-radius: 8px
}
.tbn_bb_l {
	width: 736px;
	height: 7px;
	background: #151311;
	margin: 7px auto;
	border-radius: 5px
}
.tbn_bb_ln {
	width: 728px;
	height: 200px;
	background: #eaeaea;
	margin: 3px auto;
	position: relative;
	top: 5px;
	box-shadow: 0 2px 8px #000 inset;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto
}
.tz_tab_list_box {
	padding: 15px 0 0 15px;
	font-size: 12px
}
.tz_tab_list {
	width: 100%;
}
.tbn_bb_2 {
	margin: 25px 70px 0 0;
	float: right
}
.tbn_clear, .lsb, .yh {
	width: 70px;
	line-height: 34px;
	font-size: 12px;
	background: #f36f74;
	color: #fff;
	text-align: center;
	border: 0;
	display: block;
	box-shadow: 1px 1px 2px #000;
	margin-bottom: 18px;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear
}
.lsb {
	margin: 5px 0 10px 15px;
	line-height: 30px
}
.tbn_clear:hover, .lsb:hover {
	background: #efebe8;
	color:#c14645;
}
.tbn_clear:active, .lsb:active {
	background: #4a4a4a;
	color: #000;
	text-shadow: 0 1px #6a6a6a;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.20) inset
}
.tl_li_r {
	display: inline-block;
	font: normal normal normal 14px FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.tl_li_r:hover {
	color: #ea721a
}
.tl_li_r:before {
	content: "\f00d"
}
.noinfo {
	text-align: left;
	padding: 70px 0 84px 0
}
.tz_tab_list td {
	color: #2b2b2b;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #d5d5d5 dashed
}
.tz_tab_list tr td:nth-child(2) {
	width: 48%
}
.tz_tab_list tr td:nth-child(3) {
	width: 5%
}
.tz_tab_list tr td:nth-child(4) {
	width: 12%
}
.tz_tab_list tr td:nth-child(5) {
	width: 15%
}
.tz_tab_list tr td:nth-child(6) {
	width: 20%
}
.tz_tab_list tr:hover, .yxlist tr:hover {
	background: rgba(31,137,225,0.10);
	box-shadow: 0 3px 5px #c1c1c1 inset
}
.tbn_bb_r {
	width: 950px;
	margin: 40px auto 0 auto;
	background: #23201d;
	height: 50px;
	color: #fff;
	font-size: 12px
}
.tbn_bb_r:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 495px;
	bottom: -9px;
	border-width: 10px 10px 0 10px;
	border-style: solid;
	border-color: #23201d transparent;
	z-index: 50
}
.sub_txt {
	margin-left: 160px;
	line-height: 50px
}
.sub_txt div {
	float: left;
	margin: 0 15px
}
#lt_issue_start {
	width: 140px
}
.zh_title {
	color: #4a4a4a;
	cursor: pointer
}
.zh_title:hover {
	color: #f36f74
}
.zh_body {
	width: 100%;
	background: #2b2b2b;
	position: relative;
	top: -2px;
	padding-bottom: 20px
}
.zh_continue {
	position: relative;
	cursor: pointer;
	top: 32px;
	margin-right: 50px;
	float: right;
	color: #9a9a9a
}
.zh_continue:hover {
	color: #eb4149
}
.tabbar-div-s3 {
	width: 840px;
	margin: 0 auto;
	background: #f5f5f5;
	line-height: 40px
}
#lt_trace_label .tab-front .content {
	background: #dedede
}
#lt_trace_label .tab-back .content {
	color: #333;
	border-top: 3px #dedede solid
}
#lt_trace_label .tab-back .content:hover {
	color: #b41515;
	background: #efebe8;
	border-top: 3px #c10e0e solid
}
.zhgen {
	width: 840px;
	/*margin-left: 32px;*/
	background: #dedede;
	/*padding-left: 32px*/
}
.zhgen td {
	height: 60px
}
.zhlist {
	width: 840px;
	height: 305px;
	/*margin-left: 32px;*/
	background: #f5f5f5;
	overflow: hidden;
	overflow-y: auto
}
#lt_trace_issues_table {
	line-height: 30px;
	cursor: pointer;
	text-align: center
}
#lt_trace_issues_table tr td {
	border-bottom: 1px #d5d5d5 dashed
}
#lt_trace_issues_table tr td:nth-child(1) {
	width: 5%
}
#lt_trace_issues_table tr td:nth-child(2) {
	width: 20%
}
#lt_trace_issues_table tr td:nth-child(3) {
	width: 15%
}
#lt_trace_issues_table tr td:nth-child(4) {
	width: 30%
}
#lt_trace_issues_table tr td:nth-child(5) {
	width: 30%
}
#lt_trace_issues_table .on {
	background: #efebe8;
	color: #eb4149
}
#lt_trace_issues_table tr:hover {
	background: #d5d5d5;
	color: #e85a62
}
.r2 {
	width: 50px
}
.r1 {
	text-align: right
}
.bg10 {
	background: #2b2b2b;
	width: 100%;
	height: 100%;
	padding-top: 12px
}
#lt_buy {
	/*margin: 20px auto 40px auto;*/
	background: #ea721a;
	color:#fff;
}
.yx_body {
	width: 950px;
	max-height: 425px;
	padding-bottom: 5px;
	margin: 0 auto;
	background: #eaeaea;
	color: #2b2b2b
}
.unit_title {
	background: #23201d;
	line-height: 41px
}
.yx_title {
	padding: 8px 30px 14px 30px;
	font-size: 14px;
	background: #eaeaea;
	color: #11b35e;
	border-top: 3px #11b35e solid
}
.yxlist table {
	margin-top: 20px;
	text-align: center;
	line-height: 30px
}
.yxlist {
	max-height: 370px;
	overflow: hidden
}
.yxlist th {
	background: #dedede;
	line-height: 40px;
	font-weight: normal
}
.yxlist tr td {
	border-bottom: 1px #d5d5d5 dashed
}
.yxlist tr td:nth-child(1), .yxlist tr th:nth-child(1) {
	width: 7%;
	padding-left: 15px
}
.yxlist tr td:nth-child(2), .yxlist tr th:nth-child(2) {
	width: 18%
}
.yxlisttr td:nth-child(3), .yxlist tr th:nth-child(3) {
	width: 10%
}
.yxlist tr td:nth-child(4), .yxlist tr th:nth-child(4) {
	width: 8%
}
.yxlist tr td:nth-child(5), .yxlist tr th:nth-child(5) {
	width: 18%
}
.yxlist tr td:nth-child(6), .yxlist tr th:nth-child(6) {
	width: 3%
}
.yxlist tr td:nth-child(7), .yxlist tr th:nth-child(7) {
	width: 3%
}
.yxlisttr td:nth-child(8), .yxlist tr th:nth-child(8) {
	width: 13%
}
.yxlist tr td:nth-child(9), .yxlist tr th:nth-child(9) {
	width: 13%
}
.yxlist tr td:nth-child(10), .yxlist tr th:nth-child(10) {
	width: 7%;
	padding-right: 15px
}
.blue {
	color: #5c5c5c;
	text-decoration: underline
}
.red {
	color: #f4f4f4;
	text-decoration: underline
}
.blue:hover{
	color:#1f89e1
}
.red {
	color: #ea721a
}
input:focus, select:focus, textarea:focus {
	outline: 0
}
input[type="text"], select {
	position: relative;
	color: #555;
	margin: 0 8px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-box-shadow: inset0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
input[type="text"]:active, input[type="text"]:focus, select:active, select:focus {
	border-color: #eaa2aa;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(31,137,225,0.75);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(31,137,225,0.75)
}
select {
	border-radius: 5px;
	border: 1px solid #ccc
}
input[type="checkbox"] {
	vertical-align: middle
}
.nosel input {
	border-radius: 5px;
	border: 1px solid #ccc
}
.ha, .nbts div, .nb div, .nbs div {
	animation-name: rise;
	animation-duration: .5s;
	animation-timing-function: ease;
	-moz-animation-name: rise;
	-moz-animation-duration: .5s;
	-moz-animation-timing-function: ease;
	-o-animation-name: rise;
	-o-animation-duration: .5s;
	-o-animation-timing-function: ease;
	-webkit-animation-name: rise;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: ease
}
@keyframes rise {
0% {
opacity:0;
-webkit-transform:translateX(200px);
-moz-transform:translateX(200px);
transform:translateX(200px)
}
100% {
opacity:1;
-webkit-transform:translateX(0px);
-moz-transform:translateX(0px);
transform:translateX(0px)
}
}
@-moz-keyframes rise {
0% {
opacity:0;
-webkit-transform:translateX(200px);
-moz-transform:translateX(200px);
transform:translateX(200px)
}
100% {
opacity:1;
-webkit-transform:translateX(0px);
-moz-transform:translateX(0px);
transform:translateX(0px)
}
}
@-webkit-keyframes rise {
0% {
opacity:0;
-webkit-transform:translateX(200px);
-moz-transform:translateX(200px);
transform:translateX(200px)
}
100% {
opacity:1;
-webkit-transform:translateX(0px);
-moz-transform:translateX(0px);
transform:translateX(0px)
}
}
@-o-keyframes rise {
0% {
opacity:0;
-webkit-transform:translateX(200px);
-moz-transform:translateX(200px);
transform:translateX(200px)
}
100% {
opacity:1;
-webkit-transform:translateX(0px);
-moz-transform:translateX(0px);
transform:translateX(0px)
}
}
.nb div:hover {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3)
}
.to .dxjoq:hover {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3)
}
#count_down .yyyt {
	font-size: 20px;
	color: #fff
}
.rxdesc {
	font-size: 12px;
}
.rxcount {
	color: #D65B00;
	font-size: 12px;
}
.choose-money{
	position: relative;
	left: 15px;
	padding: 2px;
	/*border: 1px #d9d9d9 solid;
	background: #e1e1e1;
	border-radius: 5px;*/
	display: inline-block;
	text-align: center;
	margin-right: 30px;
}
.choose-money .on{
	color: #fff;
	background: #f08436;
	background: -moz-linear-gradient(top, #f08436, #b85710);
	background: -o-linear-gradient(top,#f08436, #b85710);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f36f74), to(#f36f74));
}
.choose-money li{
	cursor: pointer;
	float: left;
	width: 33px;
	/*background: #fbfbfb;*/
	line-height: 20px;
	display: block;
	color: #000;
	border: 1px #d9d9d9 solid;
}
div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	color: #ea721a;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}
#lt_desc{
	color:#939393
}