*{margin:0;padding:0;}
li{ list-style-type:none;}
a {
    text-decoration: none;
}
body{font-family:微软雅黑;font-size:14px;min-width:1100px; background:#862e9b;}
p{margin:0;padding:0;}
.sign div{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.wripe{width:1000px;margin:0 auto;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;position:relative;}
.sign{background-color:#862e9b;}
.sign-1{width:100%;height:680px;background:url(sign_head.jpg) no-repeat top center;}
.sign-2{width:100%;height:895px;}
.sign-2-1{width:100%;height:838px;background:url(sign_2.png) no-repeat center center;padding:0 41px;}
.sign-2-1 ul{margin:0;padding:0;list-style:none;width:100%;overflow:hidden;padding-top:125px;}
.sign-2-1 ul li{width:14.28%;font-size:20px;color:#323232;line-height:35px;float:left;text-align:center;}
.sign-2-1-1{overflow:hidden;}
.sign-date{width:44px;height:45px;background:url(sign_12.png) no-repeat center center;float:left;font-size: 18px;text-align: center;line-height: 45px;margin:44px 43px 0;position:relative;}
.sign-date p{font-size:14px;color:#E10B1B;display:none;width:100px;text-align:center;position:absolute;bottom:-38px;left:-28px;}
.sign-date p i{font-style:normal;color:#E10B1B;}
.sign-date-1{width:48px;height:69px;background:url(sign_5.png) no-repeat top center;position:absolute;top:-2px;left:-2px;display:none;}
.sign-date-2{width:41px;height:60px;background:url(sign_13.png) no-repeat center center;position:absolute;top:-7px;right:-48px;;display:none;}
.sign-submit{width:211px;height:53px;text-align:center;line-height:53px;font-size:30px;color:#7C3F13;margin:70px auto 22px;background:url(sign_6.png) no-repeat center center;clear:both;cursor:pointer;}
.sign-2-1 .sign-p1{width:100%;text-align:center;color:#323232;font-size:16px;}
.sign-p1 i{color:#ffa70b;text-decoration:underline;font-style:normal;margin:0 5px;}
.sign-p1 button{width:112px;height:30px;text-align: center;line-height: 25px;background-color:#FEF9E0;border:1px solid #ff4840;color:#ff4840;font-size: 16px;font-weight:bold;border-radius:4px;cursor: pointer;}
.sign-p1 button:hover{background-color: #ff4840;color:#fff;}
#sign_nologin{display:none;}




.sign-3{width:100%;height:1100px;}
.sign-3-1{text-align:center;}
.sign-3 .turntable-bg{float:left;margin-top:68px;}
.sign-3 .sign-3-2{width:343px;height:513px;background:url(sign_10.png) no-repeat top right;float:right;margin-top:128px;}
.sign-3-2 h3{font-size:20px;color:#fff;width:100%;text-align:center;line-height:45px;}
.sign-3-2-1{overflow:hidden;padding:0 65px;}
.sign-3-2-1 .span1{float:left;color:#d01b21;line-height:60px;font-size:16px;font-weight:bold;}
.sign-3-2-1 .span2{float:right;color:#d01b21;line-height:60px;font-size:16px;font-weight:bold;}
.sign-3-2-2{padding:0 65px;}
.sign-3-2-2 ul{margin:0;padding:0;list-style:none;height:410px;overflow-y:auto;}
.sign-3-2-2 ul li{color:#8e5a17;font-size:14px;line-height:35px;}


.sign-4{    width: 100%; margin-bottom:20px;
    margin: 0 auto;
    height: 420px;
    background: #ffebab;}
.sign-4 h3{color:#c40000;font-size:36px;line-height:90px;border-bottom:1px dashed #AF8341;margin-bottom:15px;}
.sign-4 p{color:#8e5a17;font-size:16px;line-height:38px;margin-top:7px;}
.sign-4 p i{font-style:normal;display:inline-block;width:14px;height:14px;border-radius:7px;border:1px solid #8e5a17;text-align:center;line-height:14px;margin-right:10px;font-size:14px;}

.sign-5{width:100%;height:225px;background-color:#530b64;}
.sign-5-1{width:395px;height:100px;float:left;border-right:1px solid #D79716;text-align:right;margin-top:60px;}
.sign-5-1 img{margin-right:30px;}
.sign-5-2{width:500px;height:100px;float:left;color:#fbc85b;margin-top:60px;padding-left:25px;}
.sign-5-2 .p1{font-size:22px;line-height:45px;}
.sign-5-2 .p2{font-size:16px;line-height:22px;}

.sign-right{width:215px;height:480px;position:fixed;right:5%;top:50%;margin-top:-250px;background:url(sign_3.png) no-repeat top center;z-index: 10000;}
.sign-right ul{margin:0;padding:0;list-style:none;margin-left:50px;margin-top:100px;}
.sign-right ul li{line-height:38px;text-align:center;}
.sign-right ul li a{display:block;font-size:16px;color:#5B2607;text-decoration:none;font-weight:bold;}
.sign-right ul li a:hover{text-decoration:underline;}
.sign-erweima{width:130px;height:150px;text-align:center;background-color:#F5B529;font-size:11px;color:#5B2607;position:relative;margin-top:3px;margin-left:64px;padding-top:5px;}
.sign-fenxiang{width:64px;height:74px;text-align:center;line-height:80px;background:url(sign_4.png) no-repeat center center;position:absolute;top:140px;left:34px;font-size:18px;font-weight:bold;cursor:pointer;}
.sign-fenxiang:hover .sign-fenxiang-1{display:block;}
.sign-fenxiang-1{width:100px;position:absolute;top:12px;left:-100px;background-color:#FFEFD9;display:none;}
.sign-fenxiang-1 a{display:block;width:100%;margin:5px 0;margin-left:7px;color: #5B2607;font-size: 12px;line-height:30px;}
.sign-fenxiang-1 a:hover{background-color:#EAE0D1;}
.sign-fenxiang-1 span{display:inline-block;width:36px;height:34px;background:url(fenxiangtubiao.png) no-repeat;vertical-align:middle;}
.sign-fenxiang-1 .jiathis_button_qzone span{background-position:0px -31px;}
.sign-fenxiang-1 .jiathis_button_tsina span{background-position:0px 2px;}
.sign-fenxiang-1 .jiathis_button_tqq span{background-position:0px -1760px;height:32px;}
.sign-fenxiang-1 .jiathis_button_weixin span{background-position:0px -3680px;height:32px;}
.sign-fenxiang-1 .jiathis_button_renren span{background-position:0px -64px;height:32px;}
.sign-fenxiang-1 i{display:inline-block;width:50px;font-style:normal;vertical-align:middle;}
.bshare-custom.icon-medium-plus a{padding-left:10px!important;}


.turntable-bg {
    width: 450px;
    height: 440px;
    margin: 0 auto;
    top: 280px;
    position: relative;
    background: url("turntable_bg.png") no-repeat center center;
}
.turntable-bg .mask {
    width: 454px;
    height: 451px;
    position: absolute;
    left: 116px;
    top: 60px;
    /*z-index:9;*/
}
.turntable-bg .pointer {
    width: 155px;
    height: 256px;
    position: absolute;
    left: 225px;
    top: 226px;
    margin-left: -50px;
    margin-top: -130px;
    z-index: 8;
    cursor:pointer;
}
.turntable-bg .rotate {
    width: 390px;
    height: 390px;
    position: absolute;
    left: 85px;
    top: 70px;
}
.qiandao-con{margin:0 auto;width:1035px;height:990px;background-image:url(qiandao_con.jpg)}
.qiandao-left{float:left;padding:20px 0px 0 39px;width:1000px}
.qiandao-right{float:right;padding:0 20px;    width: 316px;}
.qiandao-bottom{ margin-top:35px;}
.current-date{float:left;padding-top:5px;padding-left:55px;color:#b25d06;font-size:18px}
.qiandao-history{float:right; padding:0 8px; height:36px;border-radius:4px;background-color:#9532ad;color:#fff;text-align:center;font-size:1pc;line-height:36px;cursor:pointer}
.qiandao-history:hover{background-color:#79208e}
.qiandao-top{padding-top:70px;height:13pc}
.just-qiandao{margin:0 auto 20px;width:212px;height:67px;cursor:pointer}
.just-qiandao.actived,.just-qiandao:active{background-position:0 -68px}

.just-qiandao-enable{margin:0 auto 20px;width:212px;height:67px;cursor:pointer;background-image:url(lq_link.png);background-repeat:no-repeat}
.just-qiandao-clked{margin:0 auto 20px;width:212px;height:67px;cursor:pointer;background-position:0 -68px}

.qiandao-notic{color:#b25d06;text-align:center;font-size:18px}
.qiandao-rule-list{margin-bottom:35px;color:#8d8ebb;font-size:1pc;line-height:26px}
.qiandao-rule-list h4{font-weight:bolder;font-size:1pc}
.qiandao-main{overflow:hidden;width:603px}
.qiandao-list{margin-top:76px;}
.qiandao-list li{position:relative;float:left;margin:0 1px 1px 0;width:85px;height:85px;background-position:0 0}
.qiandao-list li .qiandao-icon{position:absolute;top:0;left:0;z-index:2;display:none;width:85px;height:85px;background:url(qiandao_icon.png) no-repeat center center}
.qiandao-list li.qiandao .qiandao-icon{display:block}
.qiandao-layer{position:fixed;top:0;bottom:0;left:0;z-index:888;display:none;width:100%}
.qiandao-layer-bg{width:100%;height:100%;background-color:#000;opacity:.55;filter:alpha(opacity=55)}
.qiandao-layer-con{position:absolute;top:50%;left:50%;z-index:999;padding-top:30px;border:3px #33b23f solid;border-radius:5px;background-color:#fff}
.qiandao-history-layer .qiandao-layer-con{margin:-257px 0 0 -293px;width:586px;height:484px}
.close-qiandao-layer{position:absolute;top:13px;right:13px;width:1pc;height:1pc;background-position:-228px -51px}
.qiandao-history-inf{margin-top:25px;color:#666;text-align:center;font-size:14px}
.qiandao-history-inf li{float:left;width:25%}
.qiandao-history-inf li h4{color:#33b23f;font-size:40px;line-height:50px}
.qiandao-history-table{overflow:hidden;margin:20px;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0}
.qiandao-history-table table{width:100%;color:#666;text-align:center;font-size:1pc;border-spacing:0}
.qiandao-history-table table th{width:33.3%;background-color:#f2f2f2;text-align:center;line-height:40px}
.qiandao-history-table td{width:33.3%;border-bottom:1px #e5e5e5 dashed;line-height:34px}
.qiandao-active .qiandao-layer-con{margin:-232px 0 0 -211px;width:422px;height:434px}
.yiqiandao{margin:36px 0 0 40px;color:#666;font-size:14px;line-height:38px}
.yiqiandao .yiqiandao-icon{float:left;margin:0 25px;width:178px;height:38px;background-position:-217px 0}
.qiandao-jiangli{position:relative;margin:45px auto;width:335px;height:170px;background-position:0 -146px}
.qiandao-jiangli span{position:absolute;top:58px;left:50px;display:block;width:178px;height:106px;color:#ff7300;text-align:center;font-weight:bolder;font-size:30px;line-height:106px}
.qiandao-jiangli span em{padding-left:5px;font-style:normal;font-size:1pc}
.qiandao-share{display:block;margin:60px auto 0;width:318px;height:3pc;border-radius:5px;background-color:#4ab854;color:#fff;text-align:center;text-decoration:none;font-size:18px;line-height:3pc}
.qiandao-share:hover{background-color:#3e9d46}
.qiandao-sprits{background-image:url(qiandao_sprits.png);background-repeat:no-repeat}

.clearfix {
    zoom: 1;
}.area01-list { padding-left:28px;
     position: relative;
 }.area01-list li {
      width: 274px;
      height: 297px;
      float: left;
      margin-right: 35px;
  }.area01-list-tip {
       width: 274px;
       height: 169px;
       margin-bottom: 20px;
       position: relative;
       background:url(img_bg.jpg) 0 -195px no-repeat;
   }.area01-list .exchange {
        display: block;
        text-align: center;
        margin-left: 53px;
        line-height: 50px;
        font-family: "微软雅黑";
        font-size: 24px;
        width: 204px;
        height: 54px;
        background:url(pic.jpg)-330px -450px no-repeat;
    }.area01-list-tip .amount {
         position: absolute;
         top: 26px;
         left: 58px;
         font-family: "微软雅黑";
         font-size: 34px;
         font-weight: bold;
         color: #fff;
     }.area01-list-tip .credit {
          position: absolute;
          top: 113px;
          left: 146px;
          font-family: "微软雅黑";
          font-size: 18px;
          color: #fffcdf;
      }.area01-list .exchange:link, .area01-list .exchange:hover, .area01-list .exchange:visited {
           color: #6d4f0a;
       }
