
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476894509'); /* IE9*/
  src: url('iconfont.eot?t=1476894509#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476894509') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476894509') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476894509#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-anzhuo:before { content: "\e600"; }
.icon-user:before { content: "\e63e"; }
.icon-apple:before { content: "\e61a"; }
.icon-shanglajiantou:before { content: "\e6b3"; }
.icon-xiaoxi:before { content: "\e6b6"; }
.icon-wenhao:before { content: "\e6e7"; }
.icon-xiaoxi1:before { content: "\e6c8"; }
.icon-13:before { content: "\e601"; }
.icon-signout:before { content: "\e608"; }
.icon-checkbox:before { content: "\e602"; }
.icon-qiandai:before { content: "\e613"; }
.icon-anzhuodaojishi:before { content: "\e609"; }
